<ion-view view-title="">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <!-- <h3>Thank you for choosing the Awesome App!</h3> -->
      <div id="logo">
        <img src="img/newspaper_1.png">
      </div>
      <h4 class="head">NEWS</h4>
      <p class="desc">
        Get upto date with latest news, politic, sports and more in few words Summaries.
      </p>
      <!-- <p>
             But if you are angry, too bad.
           </p> -->
    </ion-slide>
    <ion-slide>
      <div id="logo">
        <img src="img/learning.png">
      </div>
      <h4 class="head" style="color:#5ba1c5">PERSONALIZED</h4>
      <p class="desc">
        We analyse your browsing pattern and serve the most relevent stories.
      </p>

    </ion-slide>
    <ion-slide>
      <div id="logo">
        <img src="img/news.png">
      </div>
      <h4 class="head" style="color:#5ba1c5">LEARN</h4>
      <p class="desc">
         Breaking news & current, local news videos, money and financial news.
      </p>
      <a class="button button-outline button-balanced" ui-sref="content"> Start Reading </a>
        <a class="button button-outline button-balanced" ui-sref="signup"> Signup </a>
    </ion-slide>
  </ion-slide-box>
</ion-view>
