


<div id="logo" style="text-align:center">
<a ng-click="takePicture()">  <img ng-if="profile==null" class="img-circle" src="img/upload-image.png"></a>
<a> <img ng-if="profile!=null" class="img-circle" src="{{profile}}"></a>
</div>
<div class="list padding">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Suhr">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="john@suhr.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Mobile</span>
    <input type="text" placeholder="94884848498">
  </label>
</div>
<div class="padding">
  <button class="button button-block button-positive">
    Submit
  </button>
</div>

<style>
.img-circle{
  width: 40%;
  border-radius: 50%;
}
</style>
