<ion-view view-title="Awesome">
  <ion-content class="padding" on-swipe-right="onGesture()">
    <div class="padding" style="text-align: -webkit-center;">
      <img src="img/logo2.png">
    </div>
    <div class="dash">
      <span class="ion-minus-round"></span>
    </div>
    <div class="source">
     <p>
       Version {{appVersion}}
     </p>
      <p>
        Suggested Sources
      </p>

    </div>
    <div class="display-source">

      <button ng-repeat="source in allSources" ng-click="fetchNews(source)" class="button button-outline button-positive">
        {{source.name}}
      </button>
    </div>
    <p style="text-align:center">
      Powered by <a href="https://newsapi.org/">NewsAPI.org</a>
    </p>
  </ion-content>
</ion-view>

<style>

</style>
