/* Empty. Add your own CSS if you like */

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 25px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.desc {
  padding-left: 20%;
  padding-right: 20%;
  font-family: Athiti;
  color: black;
  line-height: 26px;
  font-size: 20px;
}
.desc-content {
  color: #1e323c;
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.88px;
  font-size: 15px;
  text-align: -webkit-left;
}


.tabs-icon-left.tabs .tab-item, .tabs-icon-left > .tabs .tab-item, .tabs-icon-right.tabs .tab-item, .tabs-icon-right > .tabs .tab-item{
  color: black;
  font-size: small;
  font-weight: bold;
  letter-spacing: 2.1px;
}
.platform-android .action-sheet-cancel {
  display: block !important;
}
.imgSrc{
  width: 250px;
}
.swiper-slide img {
    width: auto;
    height: 47%;
    max-height: 70%;
}
body>div>div>div>div.action-sheet-group.action-sheet-options>div>div>div.col.col-80 {
  color: black;
  font-family: Raleway;
  font-weight: bolder;
  letter-spacing: 1.2px;
}
body>div>div>div>div.action-sheet-group.action-sheet-options>button:nth-child(2)>div>div.col.col-80 {
  color: black;
  font-family: Raleway;
  font-weight: bolder;
  letter-spacing: 1.2px;
}
body>div>div>div>div.action-sheet-group.action-sheet-options>button:nth-child(3)>div>div.col.col-80 {
  color: black;
  font-family: Raleway;
  font-weight: bolder;
  letter-spacing: 1.2px;
}
body>div>div>div>div.action-sheet-group.action-sheet-options>button:nth-child(4)>div>div.col.col-80>a {
  color: black;
  font-family: Raleway;
  font-weight: bolder;
  letter-spacing: 1.2px;
  text-decoration: none;
}
body>div>div>div>div.action-sheet-group.action-sheet-cancel>button>div>div.col-80 {
  color: black;
  font-family: Raleway;
  font-weight: bolder;
  letter-spacing: 1.2px;
}
body>div>div>div>div.action-sheet-group.action-sheet-options>div>div>div.col.col-10>span {
  color: #f39c12
}
body>div>div>div>div.action-sheet-group.action-sheet-options>button:nth-child(2)>div>div.col.col-10>span {
  color: #3B5998
}
body>div>div>div>div.action-sheet-group.action-sheet-options>button:nth-child(3)>div>div.col.col-10>span {
  color: #0084b4
}
body>div>div>div>div.action-sheet-group.action-sheet-options>button:nth-child(4)>div>div.col.col-10>span {
  color: green;
}
.sides {
  color: #1e323c;
  font-size: smaller;
  font-family: Raleway;
}
.source{
  color:#6842e5;
  font-weight: bolder;
}
.head {
  letter-spacing: 4px;
  color: #f9d138;
  font-weight: 900;
  font-size: xx-large;
}
#logo {
  margin: 30px 0px;
}
#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
.button.ng-hide {
  display: none;
}
.bar .title.title-left {
  text-align: center;
}
ion-footer-bar>a {
  text-decoration: none;
}
.display-source {
  text-align: -webkit-center;
}
.dash {
  text-align: -webkit-center;
}
.dash span {
  color: grey;
}
.source {
  text-align: -webkit-center;
  s
}
.source p {
  color: grey;
}
div.spinner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  text-align: center;
}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}
.newsTitle {
  color: #495ca0;
  font-size: 17px;
  font-weight: bolder;
  padding-bottom: 0px;
  padding-left: 25px;
  font-family: Raleway;
  padding-right: 25px;
  letter-spacing: 0.8px;
}
body>ion-nav-view>div>ion-view>ion-content>div>ion-slides>div>div.swiper-wrapper>div.swiper-slide.swiper-slide-active>ion-footer-bar>a {
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: Raleway;
  font-weight: 800;
}
.button.button-positive.button-outline {
  margin: 5px;
  border-radius: 19px;
  font-size: 17px;
  letter-spacing: 1.2px;
}
.share {}
// Called to navigate to the main app
$scope.startApp=function() {
  $state.go('main');
}
;
$scope.next=function() {
  $ionicSlideB // Called to navigate to the main app
  $scope.startApp=function() {
    $state.go('main');
  }
  ;
  $scope.next=function() {
    $ionicSlideBoxDelegate.next();
  }
  ;
  $scope.previous=function() {
    $ionicSlideBoxDelegate.previous();
  }
  ;
  // Called each time the slide changes
  $scope.slideChanged=function(index) {
    $scope.slideIndex=index;
  }
  ;
  zoxDelegate.next();
}
;
$scope.previous=function() {
  $ionicSlideBoxDelegate.previous();
}
;
// Called each time the slide changes
$scope.slideChanged=function(index) {
  $scope.slideIndex=index;
}
;
